mindspore~=2.2.14
numpy~=2.0.1
tqdm~=4.66.5
transformers~=4.44.0
scipy~=1.13.1
requests~=2.32.3
colorama~=0.4.6
torch~=1.13.1+cu116
pillow~=10.4.0
huggingface-hub~=0.24.5
packaging~=24.1
tokenizers~=0.19.1
safetensors~=0.4.4
urllib3~=2.2.2
regex~=2024.7.24
pyyaml~=6.0.2
setuptools~=72.1.0