sphinx == 5.1.1
recommonmark
sphinx-markdown-tables
sphinx_rtd_theme
IPython
requests
tqdm
datasets
tokenizers
sentencepiece
regex
modelscope
git+https://github.com/mindspore-lab/mindnlp
https://huggingface.co/lvyufeng/mindspore-daily/resolve/main/mindspore-newest-cp37-cp37m-linux_x86_64.whl