mindspore
requests
tqdm
pylint==2.17
pytest>=7.2.0,<8.0.0
ddt
datasets
sentencepiece
regex
parameterized
jinja2
sacremoses
librosa
soundfile
tokenizers
addict
safetensors
ml_dtypes
cython
jieba
pretty_midi
scipy
pyctcdecode
pytesseract
gensim
evaluate
g2p-en
nltk==3.8.1
pycocotools
Levenshtein
bs4
tiktoken
faiss_cpu
phonemizer
git+https://github.com/lvyufeng/einops