name: Check rst lint for documentation

on:
  pull_request:
    branches: [ "master" ]
    paths:
      - 'docs/**'

permissions:
  contents: read

jobs:
  pylint-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip==24.0
        pip install doc8
    - name: Analysing the mindnlp docs
      run: |
        doc8 docs
